extends layout

block content

 h4 hiiiiiiiiiiiiiiiiiiiii from sign in page
 form(method ='post')
  input(type="text", name="AdminUserI")
  input(type="text" name='AdminPassI')
  input(type="submit", value="submit")